.container-slider {
    height: 94vh;
    position: relative;
    overflow: hidden;
  }
  .slide {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    margin-bottom: 40px;
    padding: 30px;
  }

  @media only screen and (min-width: 600px) {
    .display-flex {
      display: flex;
    }
  }
  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 30px;
    height: 60px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 2px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 2px;
    transform: translateY(-60%);
  }
  
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: #516a8e;
  }
  .company_logo {
    border: 2px solid #516a8e;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    
  }