body {
  background-color: #ffffff;
  color: #516a8e;
}
.icon {
  text-align: -webkit-center;
}
.background-primary {
  background-color: #d9e2f0;
}
.opal {
  color: #000000 !important;
}
.black {
  color: #fae5df;
}
.white {
  color: #f5f5f5;
}
.opal-bg {
  background-color: #a8c2ef;
}
.black-bg {
  background-color: #000000;
}
.blue-bg {
  background-color: #124E8C;
}
.white-bg {
  background-color: #f5f5f5;
}
.page {
  height: auto;
  width: -webkit-fill-available;
  padding: 24px;
}
@media only screen and (min-width: 870px) {
  .page {
    height: 100vh;
    text-align: -webkit-center;
    padding: 24px;
  }
}
.skillbar-percent {
  color: #121212 !important;
}
.skillbar-bar {
  border-radius: 0px 3px 3px 0px !important;
}